<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is Django Template</title>
    <style>
        table{ 
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid red;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1> Welcome to LPU </h1>
    <p> This is k22RS section</p>

    <table>
        <tr>
            <th>Name</th>
            <th>College</th>
            <th>City</th>
        </tr>
        <tr>
            <td>Govind</td>
            <td>LPU</td>
            <td>Punjab</td>
        </tr>
        <tr>
            <td>Abhishek</td>
            <td>LPU</td>
            <td>Punjab</td>
        </tr>
        <tr>
            <td>Jay</td>
            <td>LPU</td>
            <td>Punjab</td>
        </tr>
    </table>
</body>
</html>